<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>Book List</title>
</head>
<body>
<div class="container mx-auto bg">
    <table class="w-full">
        <tr>
            <th>ID</th>
            <th class="text-start">Title</th>
            <th class="text-start">Publisher</th>
        </tr>
        <tr th:each="book : ${books}">
            <td class="text-center" th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.publisher.publisherName}"></td>
        </tr>
    </table>
</div>
</body>
</html>